<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .product {
            border: 1px solid black;
            width: fit-content;
        }

        img {
            width: 200px;
        }
    </style>
</head>
<body>
    <% products.forEach(function(item){ %>
        <div class="product">
            <img src="<%= item.image %>" />
            <h4><%= item.name %></h4>
            <p><%= item.price %> birr</p>
            <a href="/edit-product/<%= item.id %>">Edit product</a>
            <br>
            <a href="/delete-product?id=<%= item.id %>">Delete Product</a>
        </div>
   <% }) %>
    
</body>
</html>